#root {
  max-width: 1280px;
  /* position: relative; */
  max-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

nav {
  display: flex;
  max-width: 100%;
  /* outline: 1px solid red; */
  color: #888;
}
